[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=prayer-lockscreen-settings
Icon=preferences-system-time
Name=Prayer Lock Screen
Name[ms]=Kunci Skrin Waktu Solat
Comment=Configure prayer times overlay for lock screen
Comment[ms]=Konfigurasi tindihan waktu solat untuk kunci skr Categories=Qt;KDE;X-KDE-settings-personalization;
X-KDE-Keywords=prayer,solat,waktusolat,lockscreen,kunci skrin
X-KDE-ParentApp=systemsettings
